In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("sample_data/kakfka_sensor_topics/aps_failure_training_set1.csv")

In [3]:
data.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,pos,153204,0,182,na,0,0,0,0,0,...,129862,26872,34044,22472,34362,0,0,0,0,0
1,pos,453236,na,2926,na,0,0,0,0,222,...,7908038,3026002,5025350,2025766,1160638,533834,493800,6914,0,0
2,pos,72504,na,1594,1052,0,0,0,244,178226,...,1432098,372252,527514,358274,332818,284178,3742,0,0,0
3,pos,762958,na,na,na,na,na,776,281128,2186308,...,na,na,na,na,na,na,na,na,na,na
4,pos,695994,na,na,na,na,na,0,0,0,...,1397742,495544,361646,28610,5130,212,0,0,na,na

In [4]:
data.shape

(36188, 171)

In [5]:
data["class"].value_counts()

neg    35188
pos     1000
Name: class, dtype: int64

In [31]:
data={"a":[1,2],"b":[2,3],"c":[3,4]}

import pandas as pd

data=pd.DataFrame(data)
class Sample:
    def __init__(self,record):
        for k,v in record.items():
            setattr(self,k,v)
    
    @staticmethod
    def dict_to_object(data: dict):
        print(data)
        return Sample(record=data)

    def to_dict(self):
        return self.__dict__

In [41]:
colums=data.columns
print(colums)
for i in data.values:
    s=dict(zip(colums,i))
    print(s)
    print(i)

Index(['a', 'b', 'c'], dtype='object')
{'a': 1, 'b': 2, 'c': 3}
[1 2 3]
{'a': 2, 'b': 3, 'c': 4}
[2 3 4]

In [57]:
def a(data):
    for i in data.values:
        yield i 
func=a(data)

In [90]:
data=pd.DataFrame(data)

def a(data):
    for i in data.values:

        yield i

In [91]:
for i in a(data=data):
    print(i)

[1 2 3]
[2 3 4]

In [88]:
class DataSchemaGen:
    @classmethod
    def export_schema_to_create_confluent_schema(cls, file_path):
        columns = (file_path).columns
        print(columns)

        schema = dict()
        schema.update({
                    "type": "record",
                    "namespace": "com.mycorp.mynamespace",
                    "name": "sampleRecord",
                    "doc": "Sample schema to help you get started.",
                    })

        fields = []    
        for column in columns:
            fields.append(
                        {
                        "name": f"{column}",
                        "type": "string",
                        "doc": "The string type."  
                        }
            )

        schema.update({"fields":fields})
        return schema

DataSchemaGen.export_schema_to_create_confluent_schema(file_path=data)

Index(['a', 'b', 'c'], dtype='object')

{'type': 'record',
 'namespace': 'com.mycorp.mynamespace',
 'name': 'sampleRecord',
 'doc': 'Sample schema to help you get started.',
 'fields': [{'name': 'a', 'type': 'string', 'doc': 'The string type.'},
  {'name': 'b', 'type': 'string', 'doc': 'The string type.'},
  {'name': 'c', 'type': 'string', 'doc': 'The string type.'}]}

In [86]:
data

   a  b  c
0  1  2  3
1  2  3  4

In [89]:
{"dskj":"val"}

SyntaxError: EOL while scanning string literal (2159387029.py, line 1)

In [ ]:
def get_schema_to_produce_consume_data(file_path):
    columns = file_path.columns
    schema = {}
    schema.update({
        "$id": "http://example.com/myURI.schema.json",
        "$schema": "http://json-schema.org/draft-07/schema#",
        "additionalProperties": False,
        "description": "Sample schema to help you get started.",
        "properties": dict(),
        "title": "SampleRecord",
        "type": "object"})
    for column in columns:
        schema["properties"].update(
            {
                f"{column}": {
                    "description": f"generic {column} ",
                    "type": "string"
                }
            }
        )
    

    schema = json.dumps(schema)

    print(schema)
    return schema